
@font-face {
	font-family: Pufony;
	src: url(../files/Pufony-1.otf);
}

@font-face {
	font-family: raleway_f;
	src: url(../files/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_b;
	src: url(../files/raleway-black.woff2);
	font-weight: 900;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{

}

body{
	// height: 100vh;
	// display: flex;
	// align-items: center;
	// justify-content: center;

	// background-image: url("");
	// background-size: cover;
	// background-position: center;

	background-color: #010101;
	color: #fff;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

.main-header{
	position: relative;

	.layers{
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		overflow: hidden;
		position: relative;
	}

	.layer{
		height: 100%;
		width: 100%;
		position: absolute;
		background-size: cover;
		background-position: center;
		will-change: transform;
	}

	.layers__base{
		transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	}

	.layers__middle{
		transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
	}

	.layers__front{
		transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
	}
}

.main-article{
	min-height: 100vh;
}

// @media(max-width:1000px){}