@font-face {
  font-family: Pufony;
  src: url(../files/Pufony-1.otf);
}
@font-face {
  font-family: raleway_f;
  src: url(../files/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_b;
  src: url(../files/raleway-black.woff2);
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.main-header {
  position: relative;
}
.main-header .layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.main-header .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}
.main-header .layers__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  text-transform: uppercase;
  will-change: transform;
  font-family: raleway_b;
  font-weight: 900;
  color: var(--color);
  text-shadow: 0 0 15px #9d822b;
}
.main-header .layers__header .layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}
.main-header .layers__header .layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -1.75);
}
.main-header .layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.main-header .layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.main-header .layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/ground.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  font-family: raleway_b;
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
}

.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
}

.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
}
.copy a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.65;
  font-family: Pufony;
  font-size: var(--index);
  letter-spacing: calc(var(--index) / 20);
}

.content {
  will-change: transform;
}/*# sourceMappingURL=style.css.map */